{%extends "layout.html"%}
{%block content%}
<div class="about">
  <h3>About Havel-Hakimi algorithm</h3>
  <br>
  <p>The Havel–Hakimi algorithm is an algorithm in graph theory solving the graph realization problem. That is, it answers the following question: Given a finite list of nonnegative integers, is there a simple graph such that its degree sequence is exactly this list. Here, the "degree sequence" is a list of numbers that for each vertex of the graph states how many neighbors it has. </p>
</div>
{%endblock%}
