{%extends "layout.html"%}
{%block content%}
<div class="home">
  <h3>Havel-Hakimi algorithm demonstration</h3>
  <br>
  <p>Constructing a graph from a degree sequence using Havel-Hakimi algorithm.</p>
    <p>Degree sequence should start with the number of vertices. It should be non-increasing and it should contain only integers </p>
  <div class="form_container">
    <form action="{{url_for('success')}}" name="userInput" onsubmit = "return validate()" method="POST">
      <label>Enter degree sequence: </label>
      <input type="text" id="sequence" name="userSequence">
      <button class="submit" type="submit">Submit</button>
      <span class="error" aria-live="polite"></span>
    </form>
    <form action="{{url_for('upload')}}" name="file" method="POST" enctype="multipart/form-data">
      <input type="file" name="file">
      <input type="submit" value="Upload">
    </form>
  </div>
</div>
{%endblock%}
